
@font-face {
    font-family: 'Roboto Mono';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
}

body{
    font-family: 'Roboto Mono';
}

h1{color: darkblue;}

h2{color: firebrick;}