*{ 
    box-sizing: border-box;
    margin: 0;
    

}

:root{
    --colour01: rgb(255, 255, 255);
    --colour02: rgb(79, 79, 79);
    --colour03: rgb(145, 143, 143);
    --colour04: rgb(37, 37, 37);
    --gradient01:rgb(123, 119, 244);
    --gradient02:rgb(73, 255, 152);
    --border: solid 1rem var(--colour01);
}



.area1{
    background-color: rgb(rgb(255, 255, 255));
height: 100vh;
width: 79vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: stretch;
gap: 1rem;
}

.box1{
    flex-grow: 1.2;
    display: flex;
    
}

.chunk1{
    flex-grow: 3;
    background-color: aqua;
    
}

.chunk2{
    background-color: blue;
    flex-grow: 6;
    display: flex;
    justify-content: space-around; 
    flex-direction: column;

}

#tiny1{
    flex-grow:7;
    border-left-style: none;
    border-top-style: none;
}

#tiny2{
    flex-grow: 3;
    border-left-style: none;
    border-bottom-style: none;
}   

.box2{
flex-grow: 1;
display: flex;
}

.chunk3{
background-color: aliceblue;
flex-grow: 6;
display: flex;
flex-direction: row;
justify-content: space-around;
}

#mini1{
    display: flex;
    flex-grow: 2;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
}

#mini2{
    display: flex;
    flex-grow: 6;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
}

#min3{
    display: flex; 
    flex-grow: 2;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
}

.box3{
    flex-grow: 1;
}

.borderstyle{
    border: var(--border);
    background-image: linear-gradient(red, blue);

}


    

/* using the astrix and curly bracket sets up a rule that applies to all elements */

/* if you want something to not follow the rule within *{, then place it below with new rule */