*{
  box-sizing: border-box;
  background-color: rgb(255, 211, 243);
  background-origin: border-box;
  margin: 0;
}

/* i changed the background colpur for the page to fit with the colur scheme I have selected; to match the aesthetics of the music video */

:root{
  --col-01:hsl(288, 48%, 58%);
  --col-02:hsl(288, 70%, 82%);
  --col-03:#ae18ea;
  --col-04:#4c304d;
  --col-05:#fedfff;
  --col-06:#ff99e7;
  --border: 1px solid var(--col-02);
}

/* I adjusted the colour scheme with various pinks and purples to match the colours seen in the music video. */

.video-player-wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.video-element-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#videoElement{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#videoPlayOverlay{
  width: 8rem;
  height: 8rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  opacity: 0.6;
  pointer-events: none;
  
}

.video-controls-wrapper{
  display: flex;
  justify-content: center;
}

#controlsWrapper{
  display: none;
}

.video-control-button{
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  border: none;
  cursor: pointer;
}
.video-control-button:hover{
  background-color: var(--col-05);
}
.video-control-button:active{
  background-color: var(--col-06);
}
.button-icon{
  pointer-events: none;
}

#playButton{
  background-image: url('./icons/play.svg');
}

#muteButton{
  background-image: url('./icons/mute.svg');
}

#fullButton{
  background-image: url('./icons/fullScreen.svg');
}

/* I followed the techniques used to insert the mute button, to insert the icon for the full screen button*/

.video-progress-bar{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 2rem;
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--col-01);
  box-shadow: 0 1px 2px var(--col-02) inset;
}
::-moz-progress-bar {
  background-color: var(--col-02);
}

::-webkit-progress-bar {
  background-color: var(--col-01);
  box-shadow: 0 1px 2px var(--col-02) inset;
}
::-webkit-progress-value {
  background-color: var(--col-02);
}

.timeline-loading{
  background-image: -moz-repeating-linear-gradient(45deg, var(--col-03) 0% 2%, transparent 2% 4%, red 4%);
  background-size: 200% 100%;
  animation: loadingAnimation 4s linear infinite;
}

@keyframes loadingAnimation {
  100%{
    background-position: 50% 0%;
  }
}